
<!-----------------------------------SIDE NAVBAR---------------------------------------------------->
<!--<nav id="sidebar">-->
<!--<div class="sidebar-header">-->
<!--<h3>Teacher Dashboard</h3>-->
<!--</div>-->

<!--<ul class="list-unstyled components">-->
<!--<p>Welcome Professor</p>-->
<!--<li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
<!--<a href="#" class="nav-link" routerLink=''>Attendance Update&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
<!--</li>-->
<!--<li class="nav-item" routerLinkActive="active">-->
<!--<a class="nav-link" routerLink=''>Event Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
<!--</li>-->
<!--<li class="nav-item" routerLinkActive="active">-->
<!--<a class="nav-link" routerLink=''>Add Reference Material&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
<!--</li>-->
<!--</ul>-->

<!-----------------------------------SIDE NAVBAR---------------------------------------------------->

<!--<nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top" >-->
    <!--<div class="collapse navbar-collapse" id="navbarNav">-->
      <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<a href="#" class="nav-link" routerLink=''>Attendance Update&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
        <!--</li>-->
        <!--<li class="nav-item" routerLinkActive="active">-->
            <!--<a class="nav-link" routerLink=''>Event Add&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
        <!--</li>-->
        <!--<li class="nav-item" routerLinkActive="active">-->
            <!--<a class="nav-link" routerLink=''>Add Reference Material&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</nav>-->

<!------ Include the above in your HEAD tag ---------->

<!-- Tabs -->
<section id="tabs">
  <div class="container">
    <h6 class="section-title h1">Teachers Dashboard</h6>
    <div class="row" style="padding-left: 24%">
      <div class="col-xs-12 ">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-home"
               aria-selected="true" routerLinkActive="active" routerLink='/teacher/attendance'>
              Upload Attendance
            </a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-profile"
               aria-selected="false" routerLink='/teacher/createevents' routerLinkActive="active">
              Add Event
            </a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-contact"
             aria-selected="false" routerLink='/teacher/referencematerial' routerLinkActive="active">
              Reference Material
            </a>
            <!--<a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">About</a>-->
          </div>
        </nav>

      </div>
    </div>
  </div>
</section>
<!-- ./Tabs -->
