<!--<nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top" >-->
    <!--<div class="collapse navbar-collapse" id="navbarNav">-->
      <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">-->
          <!--<a href="#" class="nav-link" routerLink=''>Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
        <!--</li>-->
        <!--<li class="nav-item" routerLinkActive="active">-->
           <!--<a class="nav-link" routerLink='' ><i class="fa fa-folder-open"></i>&nbsp;Attendance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
        <!--</li>-->
        <!--<li class="nav-item" routerLinkActive="active">-->
            <!--<a class="nav-link" routerLink='' ><i class="fa fa-folder-open"></i>&nbsp;Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
           <!--</li>-->
        <!--<li class="nav-item" routerLinkActive="active">-->
          <!--<a class="nav-link" routerLink=''><i class="fa fa-inr"></i>&nbsp;Calender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
        <!--</li> -->
        <!--<li class="nav-item" routerLinkActive="active">-->
            <!--<a class="nav-link" routerLink=''><i class="fa fa-inr"></i>&nbsp;Notification&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>-->
          <!--</li>       -->
      <!--</ul>-->
    <!--</div>-->
  <!--</nav>-->

  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Student Dashboard</h3>
    </div>

    <ul class="list-unstyled components" style="color: white">
      <p>Welcome Pusheen</p>
      <li class="nav-item " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a href="#" class="nav-link" routerLink=''>Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='' ><i class="fa fa-folder-open"></i>&nbsp;Attendance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink='' ><i class="fa fa-folder-open"></i>&nbsp;Profile&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink=''><i class="fa fa-inr"></i>&nbsp;Calender&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink=''><i class="fa fa-inr"></i>&nbsp;Notification&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
    </ul>

  </nav>
