<app-teacher-nav>

</app-teacher-nav>

<div class="container" style="padding-left: 180px">
  <form class="form-horizontal" [formGroup]="refMaterial" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="control-label col-sm-4" for="course"> Course Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Eg: Advanced Data Structures" formControlName="course">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="topic"> Course Topic</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Eg: Hashing" formControlName="topic" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="description">Topic Details</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Eg: HashMaps and their applications" formControlName="description" >
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-4" for="link">Reference Material Link</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Eg: https://www.cis.upenn.edu/~matuszek/cit594-2005/Lectures/16-sets-and-maps.ppt" formControlName="link" >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" style="background-color: #2b359a;color: white">Submit</button>
      </div>
    </div>
  </form>
</div>
