<app-entry-nav></app-entry-nav>

<form [formGroup]="register" (ngSubmit)="onSubmit()">
  <label for="fname">Enter First name</label>
  <input type="text" formControlName="fname">
  <br>
  <label for="lname">Enter Last name</label>
  <input type="text" formControlName="lname">
  <br>
  <label for="email">Enter Email id</label>
  <input type="email" formControlName="email">
  <br>
  <label for="password">Enter Password</label>
  <input type="password" formControlName="password">
  <br>
  <label for="deptartmentid">Enter Department Name</label>
  <select formControlName="deptartmentid">
    <option *ngFor="let dep of depart" [value]="dep">{{dep}}</option>
  </select>
  <br>
  <label for="collegeid">Enter College Name</label>
  <select formControlName="collegeid">
    <option *ngFor="let c of coll" [value]="c">{{c}}</option>
  </select>
  <br>
  <button type="submit">Submit</button>
</form>