<app-nav>

</app-nav>
<!--<br>-->
<!--<br><br>-->
<!--<h2>Github Details :</h2>-->
<!--<p>Followers :{{gitDetails?.result.Followers}}</p>-->
<!--<p>Following :{{gitDetails?.result.Following}}</p>-->
<!--<p>Overview :{{gitDetails?.result.Overview}}</p>-->
<!--<p>Repositories :{{gitDetails?.result.Repositories}}</p>-->
<!--<p>Stars :{{gitDetails?.result.Stars}}</p>-->

<!--<h2>Hackathon Details:</h2>-->
<!--<div *ngFor="let item of hackathonDetails">-->
    <!--<label>{{item.name}} :</label>-->
    <!--<a [href]="item.link">GO to link</a>-->
    <!--<br>-->
<!--</div>-->
<!--<h2>Internship Details:</h2>-->
<!--<div *ngFor="let item of internDetails">-->
    <!--<label>{{item.name}} :</label>-->
    <!--<a [href]="item.link">GO to link</a>-->
    <!--<br>-->
<!--</div>-->




<article style="margin-top:-30px">

  <div *ngFor="let item of hackathonDetails">
    <section>
        <p style="font-size: 20px;">{{item.name}} :</p>
        <a [href]="item.link" target="_blank">Visit Link</a>
    </section>
  </div>

  <div *ngFor="let item of internDetails">
    <section>
      <p style="font-size: 20px;">{{item.name}} :</p>
      <a [href]="item.link" target="_blank">Visit Link</a>
    </section>
  </div>


  <section>
    <p style="font-size: 20px;">Entertainment Network India Limited (Times Group)</p>
    <a href="https://www.spit.ac.in" target="_blank">Visit Link</a>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quaerat suscipit ad.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem nihil alias amet dolores fuga totam sequi a cupiditate ipsa voluptas id facilis nobis.</p>
  </section>


  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ut debitis dolorum earum expedita eveniet voluptatem quibusdam facere eos numquam commodi ad iusto laboriosam rerum aliquam.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat  architecto quis tenetur fugiat veniam iste molestiae fuga labore!</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit accusamus tempore at porro officia rerum est impedit ea ipsa tenetur. Labore libero hic error sunt laborum expedita.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima asperiores eveniet vero velit eligendi aliquid in.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorem maxime minima animi cum.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit accusamus tempore at porro officia rerum est impedit ea ipsa tenetur. Labore libero hic error sunt laborum expedita.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima asperiores eveniet vero velit eligendi aliquid in.</p>
  </section>

  <section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus dolorem maxime minima animi cum.</p>
  </section>



</article>
